*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #3D087B;
}
.day{
    position: absolute;
    top: 34px;
   left: 224px;
}
.table{
    position: absolute;
    top: 149px;
    left: 224px;
    padding-top: 15px;
    border: 0px;
    border-radius: 10px;
    height: 363px;
    width: 566px;
    background-color: white;
    line-height: 70px;
}
p{
    color: #3D087B;
    font-family: Franklin Gothic Medium;
}
#time{
    word-spacing: 10px;
    font-family: Franklin Gothic Medium;
    color: #3D087B;
    border: 1px solid #3D087B;
    border-radius: 4px;
    height: 45px;
    width: 281px;
    margin-top: 10px;
}
.com{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}
.good{
    position: absolute;
    top: 520px;
    left: 224px;
    text-align: center;
    font-family: system-ui;
    color: white;
    background-color: #8E53F0;
    border: 0px;
    border-radius: 5px;
    height: 77px;
    width: 566px;
    padding-top: 20px;
}
.flex1{
    display: flex;
    gap: 15px;
}
.set{
    position: absolute;
    top: 610px;
    left: 224px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    font-family: system-ui;
    width: 299px;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    padding-top: 7px;
    background: linear-gradient(to right ,  #6E54EC , #CB52F8 , #FC5EFF , #F1A7C5) ;
}
.set:hover{
    background: linear-gradient(to right , #F1A7C5,   #FC5EFF , #CB52F8 ,#6E54EC ) ;
}
.alltime{
    position: absolute;
    top: 605px;
    left: 535px;
    padding-left: 7px;
    padding-top: 5px;
    font-family: system-ui;
    background-color: #6E54EC;
    line-height: 25px;
    border: 0px;
    border-radius: 5px;
    color: #F25CFE;
    height: 117px;
    width: 257px;
}
.msg{
    color: #858585;
}
.msg1{
    position: absolute;
    top: 30px;
    left: 580px;
    font-size: smaller;
    text-align: center;
    padding-top: 10px;
    height: 70px;
    width: 180px;
    background-color: #FFFFFF;
    border-radius: 12px;
}
.tri1{
    position: absolute;
    top: 58px;
    left: 756px;
}
.msg2{
    position: absolute;
    top: 675px;
    left: 170px;
    color: #858585;
    padding-top: 8px;
    font-size: smaller;
    text-align: center;
    height: 45px;
    width: 240px;
    background-color: #FFFFFF;
    border-radius: 12px;
}
.tri2{
    position: absolute;
    top: 663px;
    left: 360px;
}
.am{
    position: absolute;
    top: 42px;
    left: 806px;
    border-radius: 7px;
    height: 130px;
    width: 536px;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}
.am1{
    opacity: 71%;
    position: absolute;
    top: 55px;
    left: 876px;
    z-index: -1;
    border-radius: 7px;
    height: 130px;
    width: 416px;
    background-color: #FFFFFF;
}
.am2{
    opacity: 22%;
    position: absolute;
    top: 67px;
    left: 890px;
    z-index: -2;
    border-radius: 7px;
    height: 130px;
    width: 379px;
    background-color: #FFFFFF;
}
.p{
    color: #3D087B;
    text-align: center;
    font-size: xx-large;
    font-weight:300;
    font-family: Barlow;
}
.m{
    color: #8A11BF;
    width: 80px;
    height: 90px;
    background-image: url(./timeline.svg);
}
.n{
    color: white;
    padding-top: 20px;
    width: 80px;
    height: 90px;
    background-image: url(./AM_svg.svg);
}
.grab{
    position: absolute;
    top: 210px;
    left: 806px;
    background-color: white;
    height: 118px;
    width: 536px;
    color: #8E53F0;
    text-align: center;
    font-size:x-large;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight:bolder;
    border-radius: 7px;
    padding: 40px;
    word-spacing: 10px;
}
.img{
    position: absolute;
    bottom: 5px;
    left: 806px;
}
.note{
    color:#B85EBF;
    position: absolute;
    top: 720px;
    left: 880px;
}